@import url("css/theme/theme.css");
@import url("css/imgviewer.css");
header {
    width:100%;
    position:fixed;
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
    justify-content:space-evenly;
    align-items:center;
    z-index: 99;
}
.Ludo{
    flex-grow:4;
    padding-left:1em;
}
.Infos{
    display:flex;
    flex-grow:0.5;
    gap:1em;
    justify-content:space-evenly;

}

.blurred-picture{
    background-image: url("images/blurred.png");
    margin:0;
    height: 30em;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.Intro{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    /*height:10em;*/
    align-items: center;
    text-align:center;
    justify-content:space-evenly;
    width:50vw;
}
.Main{
    width:95%;
    margin: auto;
    padding-bottom: 1em;
}
.buttonCV, .buttonProjets, .buttonComp, .buttonForm
{
    cursor: pointer;
}


.CV, .Projets{
    text-align: center;
    margin: auto;
    padding: 1em 0;
}


.picture {
    transform: translate(0, -50%);
    height:40vw;
    max-height:30em;
    z-index:2;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.5);
    border-radius:50%;
    margin-bottom: -15em;
}

.big-div{
    display:flex;
    width:80%;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap:wrap;
    flex-direction:row-reverse;
}

.post{
    width:95%;
    display:flex;
    padding: 1em;
    flex-direction:column;
    margin: 1em auto;
}

.post-footer{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.separator{
    width: 250px;
    height: 3px;
    margin: 1rem auto;
}
.text-container{
    display: table;
    margin: auto;
    padding: 1.5em 1em;
}
.button{
    border-radius:0.5em;
    padding: 0.5em 1em;
    background-color: var(--md-sys-color-primary);
    color : var(--md-sys-color-on-primary);
}